<div class="container">
  <div class="page-header">
    <div class="container-fluid display-flex">
      <h3>Lista de filmes</h3>
      <div class="container-button">
        <%= link_to 'Novo filme', new_movie_path, class:'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="whiteframe whiteframe-body" style="padding: 10px;">
    <%= form_tag(movies_path, method: :get) do %>
        <div class="row display-flex">
          <div class="col-sm-4 form-group">
            <label>Nome</label>
            <%= text_field_tag :name, params[:name], class: 'form-control' %>
          </div>
          <div class="col-sm-4 form-group">
            <label>Status</label>
            <%= select_tag(:status, options_for_select([['Aguardando', 'waiting'], ['Baixado', 'downloaded'], ['Assistido', 'watched']], params[:status]), class: 'form-control', include_blank: true) %>
          </div>
          <div class="col-sm-4 form-group" style="margin-top: auto;">
            <button type="submit" class="btn btn-default custom-button">Filtrar</button>
          </div>
        </div>
    <% end%>
    <div>
        <% @movies.each do |movie| %>
          <div class="box-filme">
            <div class="content" title="<%= movie.name %>">
                <%= link_to movie_path(movie),  class:'thumb' do %>
                  <img src="<%= movie.image_link %>" class="img-full">
                <% end %>
                <div class="tt-filme">
                  <div class="text-overflow">
                    <span><%= movie.name %></span>
                  </div>
                  <span class="release-date"><%= movie.release_date.strftime("%d/%m/%Y") %></span>
                </div>
            </div>
          </div>
        <% end %>
    </div>
    <div class="display-flex center">
      <%= paginate @movies %>
    </div>
  </div>
</div>